#Categories {
  .card {
    .card_image {
        
      img {
        width: 100%;

      }
      .card_body{
        text-align: center;
        h4{
            
        }
        .icons{
            color: rgb(140, 144, 144);
        }
        h5{
            color: black;
        }
        

      }
    }
  }
}
